*.swp

.dirstamp
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
libtws_api.la
ltmain.sh
missing
test-driver

.deps/
.libs/
autom4te.cache/
m4/

*.Plo
*.la
*.lo
*.o

*.pc
*.tar.*

*.log
*.trs

*.con

src/collector/example-collector
src/reference/reference-strategy
src/simple/example-simple
src/spread/example-spread
bench/samples-benchmark

*.csv

build/

CMakeCache.txt
CMakeFiles/
*.cmake
*.a
